<launch>
        <node name="object_detection_node" pkg="dreamvu_pal_navigation" type="object_detector" output="screen" />
        
        <node name="rviz" pkg="rviz" type="rviz" args="-f pal -d $(find dreamvu_pal_navigation)/launch/object_detection.rviz" output="screen"/>
              
      
</launch>  


